<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tealium E-Commerce Suite" verbose="1" parallel="none" preserve-order="true">

    <listeners>
        <listener class-name="Utilization.TestListener"/>
    </listeners>

    <test name="Tests">
        <classes>
            <class name="RegistrationTests"/>
            <class name="LoginTests"/>
            <class name="AddToCartTests"/>
        </classes>
    </test>
</suite>